**/.DS_Store
**/*.o
.vscode
minishell
xcuserdata
xcuserdata
/Users/yuliia/Desktop/mini_together/merged_mini_xcode_project/merged_mini_xcode_project.xcodeproj/xcuserdata
/merged_mini_xcode_project/merged_mini_xcode_project.xcodeproj/xcuserdata/yuliia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
